<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Untitled Document</title>
</head>
<body style="padding:0; margin:0;background-color: #ddd;">
<table width="800px" border="0" cellpadding="0" cellspacing="0" style=" margin:0px auto; ">
    <tr style="width:100%; height:30px;  background-color:#06A2DB; " >
        <th valign="middle" style="font-family:'Arial', sans-serif; font-size:30px; font-weight:400;padding:15px 0px;color:#fff; ">Shree Shiv Ashapura Travel</th>
    </tr>
    <tr style="width:100%; height:30px;  background-color:#fcfcfc; " >
        <td valign="middle" style="font-family:'Arial', sans-serif; font-size:18px; font-weight:400;padding:15px 0px;color:#999; text-align:center ">Ticket Booking Details</td>
    </tr>
    <tr>
        <td valign="middle"  style="background-color:#fff; padding:30px 15px 15px;">

            <table width="600px" style="text-align:center;margin:0px auto" cellpadding="5" cellspacing="0" border="1" bordercolor="#d7d7d7" >
                <tr>
                    <td valign="middle"  style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                        PNR No. :
                    </td>
                    <td valign="middle"  style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                        <%= PNR %>
                    </td>
                </tr>
                <tr>
                    <td valign="middle"  style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                        Name :
                    </td>
                    <td valign="middle"  style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                        <%= Name %>
                    </td>
                </tr>
                <tr>
                    <td valign="middle"  style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                        Journey Between :
                    </td>
                    <td valign="middle"  style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                       <%=Journey%>
                    </td>
                </tr>
                <tr>
                    <td valign="middle"  style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                        Departure Time:
                    </td>
                    <td valign="middle"  style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                       <%=Departure%>
                    </td>
                </tr>
                <tr>
                    <td valign="middle"  style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                        Bus Name
                    </td>
                    <td valign="middle"  style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                        <%=BusName%>
                    </td>
                </tr>
                <tr>
                    <td valign="middle"  style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                        Boarding Point :
                    </td>
                    <td valign="middle"  style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                        <%=Point%>
                    </td>
                </tr>
                <tr>
                    <td valign="middle"  style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                        Seat No :
                    </td>
                    <td valign="middle"  style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                        <%=Seats%>
                    </td>
                </tr>
                <tr>
                    <td valign="middle"  style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                        Amount :
                    </td>
                    <td valign="middle"  style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                        <%=Amount%>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="middle"  style="background-color:#fff; padding:15px 15px 30px;">

            <table width="600px" style="margin:0px auto" cellpadding="5" cellspacing="0" border="0" >
                <tr>
                    <td valign="middle"  style="font-family:'Arial', sans-serif; font-size:18px; font-weight:400; color:#06A2DB;">
                        Instruction :
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <table width="100%" style="margin:0px auto" cellpadding="0" cellspacing="10" border="0" >
                            <tr>
                                <td valign="middle"   style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                                    &bull;
                                </td>
                                <td valign="middle"   style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                                    Pavan Bhai Aap Bus Me mava saath na le jaye
                                </td>
                            </tr>
                            <tr>
                                <td valign="middle"   style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                                    &bull;
                                </td>
                                <td valign="middle"   style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                                    Pavan Bhai Please Medam K piche Time Mat Bigadiye
                                </td>
                            </tr>
                            <tr>
                                <td valign="middle"   style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                                    &bull;
                                </td>
                                <td valign="middle"   style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                                    Pavan Bhai 5 Din me Ladki patane ka tarika hame bhi bataye
                                </td>
                            </tr>
                            <tr>
                                <td valign="middle"   style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                                    &bull;
                                </td>
                                <td valign="middle"   style="font-family:'Arial', sans-serif; font-size:14px; font-weight:400; color:#666;">
                                    last All treams &amp; condition Apply On pavan Bhai
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr style="width:100%; height:30px;  background-color:#06A2DB;" >
        <td valign="middle" style="font-family:'Arial', sans-serif; font-size:30px; font-weight:400;padding:15px 0px;color:#fff; text-align:center ">Wish You Happy Journy</td>
    </tr>
</table>
</body>
</html>